body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    width: 100%;
}
#container{
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#container > div{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
#container > div > h3{
    margin-left: 25px;
    margin-bottom: -10px;
    color: gray;
}

#container > div > div{
    display: flex;
    margin: auto 25px;
    align-items: center;
}
#container > div > div > p{
    margin-right: 30px;
}
#container > div > div > p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
}
#container > div > div > p:nth-child(2){
    font-size: 17px;
    color: gray;
    text-decoration: line-through;
}

button{
    border: none;
    padding: 10px 15px;
    margin: 0 0 15px 20px;
    border-radius: 2px;
}